<nav
  class="navbar bg-dark navbar-expand-lg z-1 bg-body-tertiary fixed-top"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="bg-danger"
            >Blog</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="bg-danger"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="bg-danger"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="bg-danger"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="bg-danger"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="bg-danger"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--

  <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
 -->
<!--
  banana in box [(ngModel)]
 -->
