<div class="container position-relative">
  <app-loader></app-loader>
  <div class="row justify-content-center align-items-center border border-2">
    <div class="col-md-3">
      <img
        [src]="productInfo?.image ?? './../../assets/images/no-image.svg'"
        class="w-100"
        alt=""
      />
    </div>
    <div class="col-md-9">
      <p>{{ productInfo?.title }}</p>
      <p>{{ productInfo?.category }}</p>
      <p>{{ productInfo?.description }}</p>
    </div>
  </div>
</div>
