<div class="container">
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)">
      <div class="mb-3 form-group">
        <label for="username" class="form-label">UserName</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Your username"
          formControlName="userName"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('userName')?.errors &&
            loginForm.get('userName')?.touched
          "
        >
          <p *ngIf="loginForm.get('userName')?.getError('required')">
            username is required
          </p>
          <p *ngIf="loginForm.get('userName')?.getError('minlength')">
            minimum length 3 characters
          </p>
          <p *ngIf="loginForm.get('userName')?.getError('maxlength')">
            maximum length is 15 character
          </p>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('email')?.errors && loginForm.get('email')?.touched
          "
        >
          <p *ngIf="loginForm.get('email')?.getError('required')">
            email is required
          </p>
          <p *ngIf="loginForm.get('email')?.getError('email')">
            this email is not valid
          </p>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="password" class="form-label">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="password"
          placeholder="Your Password"
          formControlName="password"
        />
        <span (click)="displayPassword()" class="btn btn-primary">
          Show Password
        </span>
        <small class="text-danger"
          >Follow this pattern : (from 0 to 9) repeat from 3 to 8 times then
          (from a to z) repeat from 3 to 8 times
        </small>
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('password')?.errors &&
            loginForm.get('password')?.touched
          "
        >
          <p *ngIf="loginForm.get('password')?.getError('required')">
            password is required
          </p>
          <p *ngIf="loginForm.get('password')?.getError('pattern')">
            this password is not valid
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-danger"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
