<p>parent works!</p>
<div class="bg-success text-white fs-2 p-3">
  <app-child>
    <p first>hello from parent</p>
    <h1 sec>second element</h1>
    <h1 third>third element</h1>
  </app-child>
</div>
