<div class="container pb-5 position-relative">
  <div class="row">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        [(ngModel)]="searchTerm"
      />
      <label for="floatingInput" class="ms-4"
        >Search by title or category...</label
      >
    </div>
  </div>
  <div class="row align-items-stretch gap-2 g-3 justify-content-center">
    <div
      class="col-md-2 border border-3 p-2 d-flex flex-column justify-content-between align-items-center"
      *ngFor="let product of products | search : searchTerm"
      [routerLink]="['/productDetails', product.id]"
    >
      <img [src]="product.image" alt="product.title" class="w-100" />
      <div>
        <p class="fs-6">{{ product.title }}</p>
        <p class="fw-bold fs-5">{{ product.category }}</p>
        <p class="text-success fs-4 fw-bold">
          {{ product.price | currency : "EGP" }}
        </p>
      </div>
    </div>
  </div>
</div>

<!--

pipe ==> built-in --- custom pipe

 -->
